<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7ab941b9-6c92-4047-8f75-1aad70afe80d/resourceGroups/DefaultResourceGroup-CID/providers/Microsoft.Web/sites/MyWebAppDevOpsFree</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CID</ResourceGroup>
    <ApiResourceId>/subscriptions/7ab941b9-6c92-4047-8f75-1aad70afe80d/resourceGroups/DefaultResourceGroup-CID/providers/Microsoft.ApiManagement/service/StudentDataApiapi/apis/StudentDataApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mywebappdevopsfree.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>38d7d7d7-c106-4911-bb80-46cf2ee7d7f3</ProjectGuid>
    <MSDeployServiceURL>mywebappdevopsfree.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyWebAppDevOpsFree</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MyWebAppDevOpsFree</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>